



.header{
    text-align: start;
    text-decoration: none;
    margin:  100px;
    margin-left: 150px;
}

.info{
    text-align: start;
    text-decoration: none;
    margin-left: 150px;
}

#Image{
    margin-left: 1000px;
    width: 30%;
}

.header2{
    text-align: start;
    text-decoration: none;
    margin:  10px;
    margin-left: 150px;
}